








<div id="banner" onclick="javascript:window.open(window.clickTag);">
    <div class="outline"></div>
    
    


    


    <div class="frame frame1">
        <div class="f1-bg_1">
            

            <img class="retina f1-bg_1a" src="../_common/images/<%= size %>/f1-bg_1.jpg" /> 
            <img class="retina f1-bg_1b" src="../_common/images/<%= size %>/f1-bg_1.jpg" /> 

            <img class="retina f1-max" src="../_common/images/<%= size %>/f1-max.png" />    
            <img class="retina f1-txt" src="../_common/images/<%= size %>/f1-txt.png" />    
            
            <img class="f1-balloon-1" src="../_common/images/<%= size %>/f1-balloon-1.png" />   
            <img class="f1-balloon-2" src="../_common/images/<%= size %>/f1-balloon-2.png" />   
            <img class="f1-balloon-3" src="../_common/images/<%= size %>/f1-balloon-3.png" />   
            
            
        </div>
        
        
        
    </div>


    <div class="frame frame2">
        <img class="f2-bg" src="../_common/images/<%= size %>/f2-bg.jpg" /> 
        <img class="shadow f2-txta retina" src="../_common/images/<%= size %>/f2-txta.png" />   
        <img id="money" class="shadow f2-txtb" src="../_common/images/<%= size %>/f2-txtb.png" />  
    </div>

    <div class="frame frame3">
        <img class="f3-bg" src="../_common/images/<%= size %>/f3-bg.jpg" /> 
        <img class="f3-txta retina" src="../_common/images/<%= size %>/f3-txta.png" />  
        <img class="f3-txtb retina" src="../_common/images/<%= size %>/f3-txtb.png" />  
    </div>

    <div class="frame frame4">
        <img class="retina f4-bg" src="../_common/images/<%= size %>/f4-bg.jpg" />  
        <img class="retina f4-o" src="../_common/images/<%= size %>/f4-o.png" />    
        <img class="retina f4-cta" src="../_common/images/<%= size %>/f4-cta.png" />    
        
        
    </div>


    
    <% include ./legal %>    
    <% include ./olg_logo %> 
    
    
</div>

